.wrapper {
    background-color: #100F0F;
    height: 1230px;
}

.container {
    width: 100%;
}

@media (max-width: 319px) {
    .wrapper {
        height: 600px;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .wrapper {
        height: 860px;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper {
        height: 900px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        height: 1180px;
    }
}

