.wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
    transition: all 0.5s ease;
    // margin-bottom: 10px;
}

.movie-container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}

.movie-list {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #100F0F;
    padding-top: 16px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.movie-container {
}

.movie-list::-webkit-scrollbar {
    border-radius: 0;
    width: 2px;
    height: 6px;
}
.movie-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #0F3D3E;
}

.movie-list::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(221, 213, 213, 0.05);
}

.more {
    position: absolute;
    top: 14px;
    right: 10px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #F1F1F1;

    &:hover {
        cursor: pointer;
        color: #E2DCC8;

    }
}

// Responsive
@media (max-width: 319px) {
    .wrapper {
        height: 200px;
    }

    .movie-list {
        width: 200px;
        height: 150px;
        padding-top: 10px;
    }
    
    .movie-container {
        height: 140px;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .wrapper {
        height: 280px;
    }

    .movie-list {
        width: 300px;
        height: 230px;
        padding-top: 10px;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper {
        width: 340px;
        height: 300px;
    }

    .movie-container {
        height: 220px;
    }
}

@media (min-width: 740px) and (max-width: 1023px){
    .wrapper {
        width: 600px;
    }
}