// Search result
.search {
    position: relative;
    width: 270px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

.input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    border: none;
    color: #fff;
    padding: 0 50px 0 10px;
}

::-webkit-input-placeholder { /* Edge */
    color: var(--white-color);
  }

.delete-icon {
    position: absolute;
    top: 12px;
    right: 50px;
    width: 16px;
    height: 16px;
    color: #fff;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.loading-icon {
    position: absolute;
    top: 13px;
    right: 51px;
    width: 16px;
    height: 16px;
    color: #fff;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.loading-icon {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.divider {
    position: absolute;
    top: 6px;
    right: 40px;
    display: block;
    width: 0.8px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.icon-search {
    position: absolute;
    top: 6px;
    right: 8px;
    width: 25px;
    height: 26px;
    color: #fff;
    opacity: 0.8;
    
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.search-result { 
    text-align: center;
    width: 340px;
    max-height: 400px;
    height: 1000px;
    background-color: rgb(21, 20, 20);
    border-radius: 4px;
    overflow: auto;
}

// responsive
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px)  {
    .wide {
        width: 644px;
    }   

    .hide-on-tablet {
        display: none;
    }

    .search {
        height: 30px;
    }

    .input {
        height: 30px;
    }

    .delete-icon {
        top: 8px;
        width: 14px;
        height: 14px;
    }

    .loading-icon {
        top: 8px;
        width: 14px;
        height: 14px;
    }
    
    .divider {
        top: 5px;
        right: 40px;
        width: 0.8px;
        height: 20px;
    }

    .icon-search {
        top: 5px;
        right: 10px;
        width: 20px;
        height: 20px;
    }
}

    /* > Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .hide-on-greater-tablet {
        display: none;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}


    /* PC low rel > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .hide-on-pc-lowRel {
        display: none;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .navbar_item-link {
        font-size: 1.6rem;
    }
    
    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

    /* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

    /* PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {   
    .wide {
        width: 984px;
    }

    .wide.row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}

    // mobile
@media (max-width: 739px) {
    .search {
        width: 260px;
        margin-right: 10px;
    }

    .input {
        height: 26px;
    }

    .delete-icon {
        top: 13px;
        width: 14px;
        height: 14px;
    }

    .loading-icon {
        top: 13px;
        width: 14px;
        height: 14px;
    }
    
    .divider {
        top: 14px;
        right: 40px;
        width: 0.8px;
        height: 14px;
    }

    .icon-search {
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
    }

    .search-result {
        position: absolute;
        top: -15px;
        left: -290px;
    }
}

@media (max-width: 300px) {
    .search {
        width: 140px;
        height: 30px;
        margin: 0;
    }

    .input {
        font-size: 1rem;
        height: 26px;
        margin-right: 10px;
    }

    .delete-icon {
        top: 10px;
        width: 10px;
        height: 10px;
    }

    .loading-icon {
        top: 10px;
        width: 10px;
        height: 10px;
    }
    
    .divider {
        top: 8px;
        right: 34px;
        width: 0.8px;
        height: 14px;
    }

    .icon-search {
        top: 7px;
        right: 10px;
        width: 20px;
        height: 15px;
    }

    .search-result {
        position: absolute;
        top: -15px;
        left: -205px;
        width: 280px;
    }
}

// @media (min-width: 301px) and (max-width: 370px){
//     .search {
//         width: 170px;
//         height: 30px;
//         margin: 0;
//     }

//     .input {
//         font-size: 1rem;
//         height: 26px;
//         margin-right: 10px;
//     }

//     .delete-icon {
//         top: 10px;
//         width: 10px;
//         height: 10px;
//     }

//     .loading-icon {
//         top: 10px;
//         width: 10px;
//         height: 10px;
//     }
    
//     .divider {
//         top: 8px;
//         right: 34px;
//         width: 0.8px;
//         height: 14px;
//     }

//     .icon-search {
//         top: 7px;
//         right: 10px;
//         width: 20px;
//         height: 15px;
//     }

//     .search-result {
//         width: 340px;
//         position: absolute;
//         top: -15px;
//         left: -290px;
//     }
// }