.poster {
    z-index: 999;
    width: 1000px;
    height: 800px;
    background-image: url('https://static.ssphim.net/static/5fe2d564b3fa6403ffa11d1c/5fe2d564b3fa649cf7a129b2_transfomers-the-last-knight-1.jpg');
}