.wrapper {
    position: relative;
    width: 350px;
    height: 400px;
    background-color: var(--green-color);
    text-align: center;
    border-radius: 4px;
}

.modal-header {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--white-color);

    &:hover {
        cursor: pointer;
    }
}

.modal-body {
    margin: 0 auto;
}

.modal-input-label {
    float: left;
    margin-left: 20px;
    color: var(--white-color);
    font-size: 1.6rem;
}

.modal-input {
    width: 300px;
    height: 24px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.submit-button {
    position: absolute;
    bottom: 46px;
    right: 23px;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: all 0.2s;
    background-color: var(--white-color);

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.submit-button span {
    color: var(--black-color);
    font-size: 1.8rem;
}

.register {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register span {
    color: var(--white-color);
    margin-right: 4px;
}

.register-button {
    color: bisque;

    &:hover {
        opacity: 0.8;
    }
}