.wrapper {
    background-color: #100720;
}

.banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 20%;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, rgb(8, 8, 8), rgba(rgb(59, 59, 59), 0));
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #100720;
    height: 1460px;
}

// Container-header
.container-header {
    display: flex;
    justify-content: center;
    height: 300px;
}

.container-heading {
    position: absolute;
    top: -200px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.image {
    width: 260px;
    height: 400px;
    margin-left: 60px;
    border-radius: 6px;
    box-shadow: 1px 0 rgba(rgb(0, 0, 0), 0.6);
    object-fit: cover;
    display: block;
}

.movie-information {
    width: 950px;
    margin-left: 20px;
}

.movie-name {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 3.3rem;
    color: #fff;
    cursor: pointer;
    height: 60px;
    overflow: hidden;
}

.movie-genres {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.genres {
    display: block;
    height: 30px;
    line-height: 3rem;
    border-radius: 20px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #180A0A;
    padding: 4px 10px 4px 10px;
    margin-right: 10px;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.movie-overview {
    display: block;
    height: 100px;
    overflow: hidden;
    font-size: 1.6rem;
    color: #fff;
}

.movie-casts {
    height: 300px;
}

.movie-casts > h3 {
    margin: 4px 0 10px 0;
    font-size: 2.4rem;
    color: #fff;
    cursor: pointer;
}

// Container-body
.container-body {
    margin-top: 0px;
    margin-bottom: 40px;
    width: 1200px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Responsive
@media (max-width: 319px) {
    .banner {
        height: 250px;
    }

    .container {
        height: 800px;
    }

    .container-header {
        height: 370px;
    }

    .container-heading {
        top: -130px;
        align-items: center;
        flex-direction: column;
    }

    .image {
        width: 140px;
        height: 180px;
        margin: 0;
    }

    .movie-information {
        width: 100%;
        margin: 0;
    }

    .movie-name {
        font-size: 1.4rem;
    }

    .genres {
        height: 30px;
        line-height: 3rem;
        font-size: 1rem;
        font-weight: 600;
        padding: 2px 4px 2px 4px;
        margin-right: 10px;
    }

    .movie-overview {
        display: block;
        height: 140px;
        overflow: hidden;
        font-size: 1rem;
    }

    .movie-casts {
        height: 160px;
    }

    .movie-casts > h3 {
        font-size: 1rem;
    }

    .container-body {
        margin-top: 60px;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .banner {
        height: 300px;
    }

    .container {
        height: 1110px;
    }

    .container-header {
        height: 370px;
    }

    .container-heading {
        top: -130px;
        align-items: center;
        flex-direction: column;
    }

    .image {
        width: 160px;
        height: 210px;
        margin: 0;
    }

    .movie-information {
        width: 100%;
        margin: 0;
    }

    .movie-name {
        font-size: 1.6rem;
    }

    .genres {
        height: 30px;
        line-height: 3rem;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 4px 10px 4px 10px;
        margin-right: 10px;
    }

    .movie-overview {
        height: 150px;
        overflow: hidden;
        font-size: 1.2rem;
    }

    .movie-casts {
        height: 160px;
    }

    .movie-casts > h3 {
        font-size: 1.2rem;
    }

    .container-body {
        margin-top: 60px;
        margin-bottom: 20px;
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .banner {
        height: 340px;
    }

    .container {
        height: 1110px;
    }

    .container-header {
        height: 370px;
    }

    .container-heading {
        align-items: center;
        flex-direction: column;
    }

    .image {
        width: 200px;
        height: 260px;
        margin: 0;
    }

    .movie-information {
        width: 100%;
    }

    .movie-name {
        font-size: 1.8rem;
    }

    .genres {
        height: 30px;
        line-height: 3rem;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 4px 10px 4px 10px;
        margin-right: 10px;
    }

    .movie-overview {
        height: 150px;
        overflow: hidden;
        font-size: 1.4rem;
    }

    .movie-casts {
        height: 160px;
    }

    .movie-casts > h3 {
        font-size: 1.2rem;
    }

    .container-body {
        margin-top: 60px;
        margin-bottom: 20px;
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        height: 1000px;
    }

    .image {
        height: 250px;
        margin-left: 0;
    }

    .container-heading {
        height: 420px;
    }

    .container-header {
        height: 0;

    }

    .movie-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-left: 10px;
    }

    .movie-name {
        font-size: 2rem;
    }

    .genres {
        height: 20px;
        line-height: 2rem;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 4px 10px 4px 10px;
        margin-right: 10px;
    }

    .movie-overview {
        font-size: 1.4rem;
    }

    .movie-casts {
        height: 260px;
    }

    .movie-casts > h3 {
        font-size: 1.8rem;
    }

    .container-body {
        margin-top: 200px;
        width: 644px;
        height: 400px;
    }

    .container-similar {
        width: 644px;
    }
}

@media (min-width: 1024px) and (max-width: 1298px) {
    .container {
        height: 1270px;
    }

    .image {
        width: 200px;
        height: 300px;
        margin: 0;
    }

    .container-header {
        height: 200px;
    }

    .movie-information {
        width: 700px;
    }

    .movie-name {
        font-size: 2.8rem;
    }

    .genres {
        height: 30px;
        line-height: 3rem;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 4px 10px 4px 10px;
        margin-right: 10px;
    }

    .movie-casts > h3 {
        font-size: 1.4rem;
    }

    .container-body {
        margin-top: 100px;
        margin-bottom: 40px;
        width: 984px;
        height: 500px;
    }
}