.wrapper {
    position: relative;
    width: 200px;
    height: 310px;
    margin-right: 20px;
    transition: all 0.3s;
}

.wrapper-link {
    width: 100%;
    height: 100%;
}

.image {
    position: relative;
    width: 100%;
    height: 250px;
    transition: all 0.3s;
    overflow: hidden;
}

.image:hover, .image:hover .play, .image:hover .add-icon{
    transform: scale(1.02);
}

.img-link {
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.img {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.play {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: calc(300px / 1.78);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.play-icon {
    font-size: 5rem;
    color: #F1F1F1;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;    
    height: 40px;

    &:hover .name {
        cursor: pointer;
        color: #E2DCC8;
    }
}

.name {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: #F1F1F1;
}

.more-button {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 20px;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 50%;
    border: none;
    text-align: center;
    padding: 0;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;      
        background-color: var(--green-color);
    }

    &:hover .more-icon {
        color: var(--white-color);
    }
}

.more-icon {
    transition: all 0.2s;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--black-color);
}

.options {
    width: 130px;
    height: 30px;
    background-color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;
}

.option-item {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        background-color: var(--green-color);
    }

    &:hover .option-item_span {
        color: var(--white-color);
    }

}

.option-item_span {
    display: block;
    line-height: 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-color);
}

@media (max-width: 319px) {
    .wrapper {
        width: 70px;
        height: 120px;
        margin-right: 6px;
    }

    .image {
        width: 70px;
        height: 100px;
    }
    
    .img-link {
        width: 100%;
        height: 100%;
    }
    
    .play {
        position: absolute;
        top: 0px;
        right: 0;
        width: 100px;
        height: 100px;
    }
    
    .play-icon {
        font-size: 2rem;
        color: #F1F1F1;
    }
    
    .content {
        padding-top: 8px;
        padding-bottom: 8px;
        width: 70px;
        height: 12px;
    }
    
    .name {
        width: 100%;
        font-size: 0.6rem;
    }

    .more-button {
        width: 14px;
        height: 14px;
    }

    .options {
        width: 60px;
        height: 20px;
    }

    .option-item_span {
        font-size: 0.6rem;
        line-height: 2rem;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .wrapper {
        width: 130px;
        height: 200px;
    }
    
    .image {
        position: relative;
        width: 100%;
        height: 180px;
    }
    
    .img {
        border-radius: 4px;
    }
    
    .play {
        top: 10px;
        width: 130px;
    }
    
    .play-icon {
        font-size: 3.3rem;
    }
    
    .content {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: 20px;
    }
    
    .name {
        width: 100%;       
        font-size: 1rem;
    }

    .more-button {
        width: 16px;
        height: 16px;
    }

    .options {
        width: 80px;
        height: 20px;
    }

    .option-item_span {
        font-size: 0.8rem;
        line-height: 2rem;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper {
        width: 150px;
        height: 200px;
    }
    
    .image {
        position: relative;
        width: 100%;
        height: 180px;
    }
    
    .img {
        border-radius: 4px;
    }
    
    .play {
        top: 10px;
        width: 150px;
    }
    
    .play-icon {
        font-size: 3.3rem;
    }
    
    .content {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: 20px;
    }
    
    .name {
        width: 100%;       
        font-size: 1rem;
    }

    .more-button {
        width: 18px;
        height: 18px;
    }

    .options {
        width: 80px;
        height: 20px;
    }

    .option-item_span {
        font-size: 0.8rem;
        line-height: 2rem;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        width: 185px;
        height: 270px;
    }

    .image {
        height: 210px;
    }

    .play {
        top: 20px;
        right: 0;
        width: 100%;
    }

    .play-icon {
        font-size: 4rem;
    }

    .content {
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        height: 20px;

    }
    
    .name {
        font-size: 1.4rem;
    }

    .options {
        width: 100px;
    }

    .option-item_span {
        font-size: 1rem;
    }
}