.wrapper {
    position: relative;
    height: 860px;
    background-color: #333;
}

.billboard-content {
    // position: absolute;
    // bottom: -80px;
    // left: 40px;
    display: none;        
    width: 300px;
    height: 200px;
}

.billboard {
    position: relative;
    width: 100%;
    height: 100%;
}

.billboard-trailer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.billboard-poster {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.active {
    display: block;
}

.billboard-video {
    width: 100%;
    height: 860px;
    object-fit: fill;
}

.unactive {
    display: none;
}

.background-active {
    background-color: rgba(17,17,17,0.96);
}

// Billboard video infor
.billboard-infor {
    position: absolute;
    top: 350px;
    left: 80px;
    height: 300px;
}

.movie-name {
    width: 530px;
    height: 20px;
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 600;
}

.infor {
    position: absolute;
    top: 50px;
    left: -40px;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.release {
    font-size: 1.6rem;
    color: var(--white-color);
}

.divider {
    display: block;
    width: 0.8px;
    height: 16px;
    margin: 0 6px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.duration {
    font-size: 1.6rem;
    color: var(--white-color);
}

.description {
    position: absolute;
    top: 80px;
    left: -40px;
    width: 420px;
    height: 48px;
}

.descrip-span {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
}

.quote {
    position: absolute;
    top: 180px;
    left: 120px;
    display: block;
    font-style: italic;
    color: var(--white-color);
    opacity: 0.8;
}

.play-btn {
    position: absolute;
    top: 230px;
    left: -42px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    background-color: #f2e2ec;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.toggle-play {
    position: absolute;
    top: 13px;
    left: 13px;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 4.6rem;
    color: rgb(57, 57, 57);
}

.pause-btn {
    display: none;
    position: absolute;
    top: 230px;
    left: -42px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    background-color: #f2e2ec;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.toggle-pause {
    position: absolute;
    top: 13px;
    left: 14px;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 4.6rem;
    color: rgb(57, 57, 57);
}

.sound-btn {
    position: absolute;
    top: 230px;
    left: 30px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    background-color: #f2e2ec;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.toggle-sound {
    position: absolute;
    top: 13px;
    left: 14px;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 4.6rem;
    color: rgb(57, 57, 57);
}

.sound-off-btn {
    display: none;
    position: absolute;
    top: 230px;
    left: 30px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    background-color: #f2e2ec;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.toggle-sound-off {
    position: absolute;
    top: 13px;
    left: 14px;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 4.6rem;
    color: rgb(57, 57, 57);
}

// responsive
 /* Tablet */
 @media (min-width: 740px) and (max-width: 1023px)  {
    .wide {
        width: 644px;
    }   

    .wrapper {
        height: 600px;
    }

    .billboard-video {
        height: 600px;
    }

    .billboard-infor {
        top: 255px;
        height: 200px;
    }

    .movie-name {
        font-size: 2.5rem;
    }

    .infor {
        position: absolute;
        top: 50px;
        left: -40px;
        display: flex;    
        align-items: center;
        justify-content: center;
    }
    
    .release {
        font-size: 1.2rem;
        color: var(--white-color);
    }
    
    .divider {
        height: 12px;
    }
    
    .duration {
        font-size: 1.2rem;
    }
    
    .description {
        position: absolute;
        top: 80px;
        left: -40px;
        width: 420px;
        height: 40px;
    }
    
    .descrip-span {
        font-size: 1.2rem;
    }
    
    .quote {
        position: absolute;
        top: 180px;
        left: 120px;
        font-size: 1.4rem;
    }
    
    .play-btn {
        top: 230px;
        width: 36px;
        height: 36px;
    }
    
    .toggle-play {
        top: 10px;
        left: 10px;
        font-size: 1.8rem;
    }
    
    .pause-btn {
        top: 230px;
        left: -42px;
        width: 36px;
        height: 36px;
    }
    
    .toggle-pause {
        top: 10px;
        left: 10px;
        font-size: 1.8rem;
    }
    
    .sound-btn {
        top: 230px;
        width: 36px;
        height: 36px;
    }
    
    .toggle-sound {
        top: 10px;
        left: 10px;
        font-size: 1.8rem;
    }
    
    .sound-off-btn {
        top: 230px;
        width: 36px;
        height: 36px;
    }
    
    .toggle-sound-off {
        top: 10px;
        left: 10px;
        font-size: 1.8rem;
    }
}

    /* > Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}


    /* PC low rel > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12x;
        margin-right: -12x;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

    /* PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {   
    .wide {
        width: 984px;
    }

    .wide.row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}

@media (max-width: 739px) {
    .wrapper {
        height: 250px;
        margin-top: 60px;
        background-image: url('https://wallpaperaccess.com/full/3031452.jpg');
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .billboard {
        display: none;
    }

    .billboard-content {
        display: block;
        margin-top: 100px;
    }

    .billboard-content_header {
        color: var(--white-color);
    }

    .billboard-content_body {
        color: var(--white-color);
    }

}



