.wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.9) 100%);
    transition: all 0.5s;
}

.show {
    background-color: rgba(17,17,17,0.96);
}

.left, .right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    margin-left: 20px;
}

.right {
    margin-right: 20px;
}

.navbar_list-left,
.navbar_list-right {
    padding: 0;
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.navbar_item {
    margin: 0 14px;
    cursor: pointer;

   &:hover {
    opacity: 0.8;
   }
}

.navbar_item-link {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}

// Left-header
.navbar_list-left {
    padding: 0;
}

.option-more {
    position: relative;
}

.down-icon {
    position: absolute;
    top: -4px;
    right: -24px;
    width: 10px;  
    height: 10px;
    padding: 10px;
    color: #fff;
}

.menu_mobile-btn {
    display: none;
}

// Right-header

// Animation
.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 0.8;
}

.language-icon {
    display: block;
    width: 26px;
    height: 26px;
    color: #fff;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.user-icon {
    display: block;
    width: 26px;
    height: 26px;
    color: #fff;
}

// Subnav
.subnav {
    position: relative;
    border-radius: 4px;
    background-color: rgb(21, 20, 20);
    overflow: hidden;
}

.subnav-item {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    padding: 4px 12px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.subnav-item span {
    line-height: 3rem;
    display: block; 
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.first-subnav {
    position: relative;
}

.up-arrow {
    position: absolute;
    top: -11px;
    right: 29px;
    width: 16px;
    height: 16px;
    color: rgb(21, 20, 20);
}

// Search
.search {
    position: relative;
    width: 270px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

.input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    border: none;
    color: #fff;
    padding: 0 50px 0 10px;
}

::-webkit-input-placeholder { /* Edge */
    color: #fff;
  }

.divider {
    position: absolute;
    top: 6px;
    right: 40px;
    display: block;
    width: 0.8px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.icon-search {
    position: absolute;
    top: 6px;
    right: 8px;
    width: 25px;
    height: 26px;
    color: #fff;
    opacity: 0.8;
    
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.register-button {
    display: flex;
    width: 100px;
    height: 36px;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: #0F3D3E;
    transition: all 0.2s;
    
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.register-text {
    display: block;
    line-height: 3.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
}

// user
.user-wrapper {
    width: 100px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--green-color);
    text-align: center;
    border-radius: 4px;
    padding: 4px 4px;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.user-name {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-options {
    width: 120px;
    height: 40px;
    background-color: var(--black-color);
    border-radius: 4px;
}

.account-option-link {
    width: 100%;
    height: 40px;
    text-align: center;
    transition: all .2s;

    &:hover {
        cursor: pointer;  
        opacity: 0.8;   
    }
}

.account-option-link span {
    line-height: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white-color);
}

// Subnav
.menu-mobile {
    position: absolute;
    top: 25px;
    height: 0px;
    background-color: var(--black-color);
    // display: none;
    // background-color: #fff;
    transition: all 0.5s;
    transform: translateY(0);
    overflow-y: auto;
    overflow-x: hidden;
}

.mobile-subnav-item {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    padding: 4px 12px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    text-align: left;

}

.mobile-navbar_item-link {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
}

.mobile-subnav-item {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    padding: 4px 12px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    text-align: left;
}

.mobile-navbar_item-link {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
}

// responsive 
@media (max-width: 319px) {  
    .wrapper {
        height: 30px;
        justify-content: center;
        align-items: center;
        background-color: var(--black-color);
    }

    .left {
        max-width: 100px;
        height: 30px;
    }

    .navbar_list-left {
        display: none;
    }

    .menu_mobile-btn {
        display: block;
        width: 40px;
        height: 20px;
        border: none;
        background-color: transparent;
        margin-right: 10px;
    }

    .menu_mobile-icon {
        width: 25px;
        height: 20px;
        color: var(--white-color);
    }

    .mobile-subnav-item {
        height: 26px;
    }

    .mobile-navbar_item-link {
        font-size: 1.2rem;
    }

    .right {
        max-width: 200px;
        height: 30px;
    }

    .register-button {
        width: 50px;
        height: 26px;
        margin-right: 10px;
    }

    .register-text {
        line-height: 2.6rem;
        font-size: 1rem;
    }

    .user-wrapper {
        width: 80px;
        height: 20px;
        padding: 0;
    }

    .user-name {
        display: block;
        line-height: 2rem;
        font-size: 0.6rem;
    }

    .account-options {
        margin-top: 2px;
        width: 80px;
        height: 20px;
    }

    .account-option-link {
        height: 20px;
    }

    .account-option-link span {
        display: block;
        line-height: 2rem;
        font-size: 0.8rem;
    }
}

@media (min-width: 320px) and (max-width: 399px) {  
    .wrapper {
        height: 30px;
        justify-content: center;
        align-items: center;
        background-color: var(--black-color);
    }

    .left {
        max-width: 100px;
        height: 30px;
    }

    .navbar_list-left {
        display: none;
    }

    .menu_mobile-btn {
        display: block;
        width: 40px;
        height: 20px;
        border: none;
        background-color: transparent;
        margin-right: 10px;
    }

    .menu_mobile-icon {
        width: 25px;
        height: 20px;
        color: var(--white-color);
    }

    .right {
        max-width: 260px;
        height: 30px;
    }

    .register-button {
        width: 50px;
        height: 26px;
        margin-right: 10px;
    }

    .register-text {
        line-height: 2.6rem;
        font-size: 1rem;
    }

    .user-wrapper {
        width: 80px;
        height: 20px;
        padding: 0;
    }

    .user-name {
        display: block;
        line-height: 2rem;
        font-size: 0.8rem;
    }

    .account-options {
        margin-top: 2px;
        width: 100px;
        height: 20px;
    }

    .account-option-link {
        height: 20px;
    }

    .account-option-link span {
        display: block;
        line-height: 2rem;
        font-size: 1rem;
    }
}

@media (min-width: 400px) and (max-width: 739px) {  
    .wrapper {
        height: 30px;
        justify-content: center;
        align-items: center;
        background-color: var(--black-color);
    }

    .left {
        max-width: 100px;
        height: 30px;
    }

    .navbar_list-left {
        display: none;
    }

    .menu_mobile-btn {
        display: block;
        width: 40px;
        height: 26px;
        border: none;
        background-color: transparent;
        margin-right: 10px;
    }

    .menu_mobile-icon {
        width: 25px;
        height: 26px;
        color: var(--white-color);
    }

    .right {
        max-width: 600px;
        height: 30px;
    }

    .register-button {
        width: 50px;
        height: 26px;
        margin-right: 10px;
    }

    .register-text {
        line-height: 2.6rem;
        font-size: 1rem;
    }

    .user-wrapper {
        width: 80px;
        height: 20px;
        padding: 0;
    }

    .user-name {
        display: block;
        line-height: 2rem;
        font-size: 0.8rem;
    }

    .account-options {
        margin-top: 4px;
        width: 100px;
        height: 20px;
    }

    .account-option-link {
        height: 20px;
    }

    .account-option-link span {
        display: block;
        line-height: 2rem;
        font-size: 1rem;
    }
}

@media (min-width: 740px) and (max-width: 1023px)  {
    .wide {
        width: 644px;
    }   

    .hide-on-tablet {
        display: none;
    }

    .wrapper {
        height: 40px;
    }

    .left {
        max-width: 300px;
        height: 40px;
    }

    .right {
        max-width: 300px;
        height: 40px;
    }

    .navbar_item-link {
        font-size: 1rem;
    }

    .down-icon {
        top: -1px;
    }

    .register-button {
        height: 30px;
    }

    .register-text {
        line-height: 3rem;
        font-size: 1.2rem;
    }

    .user-wrapper {
        padding: 0;
    }

    .user-name {
        font-size: 0.8rem;
    }

    .account-options {
        width: 100px;
        height: 30px;
    }

    .account-option-link span {
        line-height: 3rem;
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) and (max-width: 1239px) {   
    
}

