.wrapper {
    position: relative;
    // height: 2000px;
    background-color: #100F0F;
    overflow: hidden;
    transition: all 0.2s;
    margin: 0 auto;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 1460px;
    margin-top: 60px;
    margin-bottom: 138px;
}

.container-header {
    margin: 0 0 0 14px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white-color);
    cursor: pointer;
}

.container-filters {
    height: 100%;
    background-color: #191515;
    margin: 0 0;
}

.filter-sort {
    margin: 0 0 6px 0;
}

.filter-sort,
.filter-genre {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    width: 100%;
    height: 36px;
    cursor: pointer;
}

.sort {
    font-size: 1.4rem;
    font-weight: 600;
    color: #F1F1F1;
}

.sort-btn {
    position: relative;
    width: 160px;
    height: 33px;
    margin-top: 2px;
    margin-left: 4px;
    border: none;
    border-radius: 4px;
    background-color: #F1F1F1;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.sort-btn > span {
    color: #0F3D3E;
    font-size: 1.4rem;
    float: left;
}

.angle-down {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2rem;
}

.container-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.movies-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.2s;
}

// Filters
.filter-options {
    position: absolute;
    top: 40px;
    right: -80px;
    width: 160px;
    height: 162px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F1F1F1;
    transition: all 0.2s;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: auto;
}

.filter-options-btn {
    width: 100%;
    border: none;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.filter-options-btn span {
    display: block;
    margin: 0 auto;
    padding: 8px 0;
    color: #0F3D3E;
    font-size: 1.4rem;
    float: left;
}

.more-button {
    position: absolute;
    bottom: 400px;
    right: 90px;
    font-size: 2rem;
    font-weight: 600;
    color: #F1F1F1;

    &:hover {
        cursor: pointer;
        color: #E2DCC8;
    }
}

// 

.wrapper-content {
    height: 300px;
    background-color: #E2DCC8;
}

.wrapper-content-filter {
    background-color: blueviolet;
}

.wrapper-content-body {
    background-color: cadetblue;
}
// 


// Responsive
@media (max-width: 319px) {
    .container {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .container-header {
        font-size: 1.2rem;
    }

    .container-filters {
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
    }

    .filter-sort, .filter-genre {
        width: 70px;
        height: 22px;
        margin-left: 10px;
        margin-bottom: 0;
    }

    .sort-btn, .filter-btn {
        width: 100%;
        height: 20px;
    }

    .sort-btn > span {
        font-size: 0.6rem;
    }

    .angle-down {
        top: 3px;
        font-size: 1.4rem;
    }

    .filter-options {
        top: 27px;
        right: -35px;
        width: 70px;
        height: 100px;
    }

    .filter-options-btn span {
        font-size: 0.6rem;
    }

    .more-button {
        position: absolute;
        bottom: 360px;
        font-size: 2rem;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .movies-list {
        width: 600px;
    }

    .more-button {
        bottom: 110px;
        right: 40px;
        font-size: 1.2rem;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .container {
        margin-top: 32px;
        margin-bottom: 70px;
    }

    .container-header {
        font-size: 1.2rem;
    }

    .container-filters {
        width: 100%;
        height: 36px;
        display: flex;
    }

    .filter-sort, .filter-genre {
        width: 100px;
        height: 33px;
    }

    .sort-btn, .filter-btn {
        width: 100%;
        height: 24px;
    }

    .sort-btn > span {
        font-size: 1rem;
    }

    .angle-down {
        top: 5px;
        font-size: 1.4rem;
    }

    .filter-options {
        top: 30px;
        right: -50px;
        width: 100px;
        height: 100px;
    }

    .filter-options-btn span {
        font-size: 1rem;
    }

    .more-button {
        position: absolute;
        bottom: 360px;
        font-size: 2rem;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .movies-list {
        width: 600px;
    }

    .more-button {
        bottom: 202px;
        right: 65px;
        font-size: 1.4rem;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .container {
        margin-top: 30px;
        margin-bottom: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-filters {
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
    }

    .container-header {
        font-size: 1.6rem;
    }

    .filter-sort, .filter-genre {
        width: 110px;
        height: 26px;
        margin: 0 0 0 4px;
    }

    .sort-btn, .filter-btn {
        width: 100%;
    }

    .sort-btn > span {
        font-size: 1.2rem;
    }

    .angle-down {
        top: 4px;
        font-size: 1.6rem;
    }

    .filter-options {
        right: -60px;
        width: 120px;
    }

    .filter-options-btn span {
        font-size: 1.1rem;
    }

    .more-button {
        bottom: 195px;
        right: 60px;
        font-size: 1.6rem;
    }

    .movies-list {
        // width: 600px;
    }
}

@media (min-width: 740px) and (max-width: 1023px)  {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 110px;
    }

    .container-filters {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .container-header {
        font-size: 1.6rem;
    }

    .filter-sort, .filter-genre {
        margin: 0 0 0 10px;
        width: 120px;
        height: 30px;
    }
    
    .sort-btn, .filter-btn {
        width: 120px;
    }

    .movies-list {
        width: 750px;
    }   

    .more-button {
        bottom: 314px;
        right: 40px;
        font-size: 1.8rem;
    }
}

@media (min-width: 1024px) and (max-width: 1113px) {   
    .container-content {
        max-width: 800px;
    }
}

